<?xml version="1.0"?>
<!--
  ~ MagePulse
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ This source file is subject to the MagePulse Proprietary EULA
  ~ that is bundled with this package in the file LICENSE.
  ~ It is also available through the world-wide-web at this URL:
  ~ https://magepulse.com/legal/magento-license/
  ~
  ~ @category    MagePulse
  ~ @package     MagePulse_Modules
  ~ @copyright   Copyright (c) MagePulse (https://magepulse.com)
  ~ @license     https://magepulse.com/legal/magento-license/  MagePulse Proprietary EULA
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Register the Modules collector in the Collector pool -->
    <type name="MagePulse\Collector\Model\CollectorPool">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="mainGroup" xsi:type="array">
                    <item name="modules" xsi:type="object">MagePulse\Modules\Model\Collectors\ModulesModel</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Register with Core's ModuleRegistry for the admin Modules page -->
    <type name="MagePulse\Core\Model\ModuleRegistry">
        <arguments>
            <argument name="modules" xsi:type="array">
                <item name="magepulse/magento2-module-modules" xsi:type="array">
                    <item name="composer_package" xsi:type="string">magepulse/magento2-module-modules</item>
                    <item name="module_name" xsi:type="string">MagePulse_Modules</item>
                    <item name="name" xsi:type="string">MagePulse Modules</item>
                    <item name="description" xsi:type="string">Adds the full list of installed Magento modules with version, status, and composer metadata to the MagePulse Collector payload.</item>
                    <item name="version" xsi:type="string">1.0.0</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
