<?xml version="1.0"?>
<!--
  ~ MagePulse
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ This source file is subject to the MagePulse Proprietary EULA
  ~ that is bundled with this package in the file LICENSE.
  ~ It is also available through the world-wide-web at this URL:
  ~ https://magepulse.com/legal/magento-license/
  ~
  ~ @category    MagePulse
  ~ @package     MagePulse_Modules
  ~ @copyright   Copyright (c) MagePulse (https://magepulse.com)
  ~ @license     https://magepulse.com/legal/magento-license/  MagePulse Proprietary EULA
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MagePulse_Modules" setup_version="1.1.1">
        <sequence>
            <module name="MagePulse_Core"/>
            <module name="MagePulse_Collector"/>
        </sequence>
    </module>
</config>
